/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane {
	-fx-background-color : #ffffff;
	-fx-background-radius : 8px;
}

  
.button1
{
-fx-background-color : #707070;
-fx-background-radius :  30 0 0 30;
}
.button1:hover
{
-fx-background-color : #808080 ;
-fx-background-radius :  30 0 0 30;
}
.button1:pressed
{
-fx-background-color : #505050 ;
-fx-background-radius :  30 0 0 30;
}

.button2
{
-fx-background-color :  #707070;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #808080 ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : #505050 ;
-fx-background-radius :  20;
}

.button3
{
    -fx-background-color : #606060;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #808080 ;
}
.button3:pressed
{
    -fx-background-color : #505050 ;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #b0b0b0);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #b0b0b0, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #b0b0b0);
    -fx-background-radius :  30 30 30 30;
}

.text-field {
    -fx-background-color: #808080 , white , white;
    -fx-background-insets: 1 1 1 1, 1 1 1 1, 1 1 1 1;
}

.text-field:focused {
    -fx-background-color: #808080 , white , white;
    -fx-background-insets: 1 1 1 1, 1 1 1 1, 1 1 1 1;
}

